

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 6rem 2rem 0rem;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
    
  }
  @media screen and (min-width: 1200px) {
    padding-top: 8rem;

  }

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  margin: 0 2rem;

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
margin-top: 1rem;
  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;

    border-radius: 0px;
    flex-direction: row;
    width: auto;

  }
.text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.p-text{
  font-size: 1.3rem;
  @media screen and (min-width: 1200px) {
  font-size: 2rem;
  }
}
.head-text{
  font-size: 3rem;
  @media screen and (min-width: 1200px) {
  font-size: 5rem;
  }
}
@media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top:0;
  }


}

.app__header-img {
  flex: 0.95;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;

  img {
    width: 50%;
    object-fit: contain;
    z-index: 1;
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    z-index: 0;
    width: 80%;
    height: 70%;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}
.content-div{
  display: grid;
  
}

.button-div{
  display: flex;
  justify-content: center;

}

.large-button {
  position: relative;
  z-index: 5;
  display: inline-grid;
  place-items: center;
  padding: 0 1em;
  aspect-ratio: 1;
  text-decoration: none;
  border-radius: 50%;
  background: white;
  border: 12px solid rgb(11, 86, 11);
  top: 10px;
  left: -200px;
  color: rgb(125, 8, 8);
  font-weight: bold;
  font-size:1.5rem;

  @media screen and (max-width: 1200px) {
   display: none;
  }
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.364);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
  border: 10px solid #daa520;
}

.go{
  background: rgba(255, 255, 255, 0.364);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
  opacity: 1;
  transform: scale(1.5);
  border: 10px solid #daa520;

}